/*bgcolor: #e2dfd8;
accent: #b80414;
color: #0c160f;*/

body {
	background-color: #e2dfd8;
	color: #0c160f;
	width: 100%;
	background-image: url(../img/bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Droid Serif', serif;
	font-size: 24px;
}

header {
	height: 100px;
	padding: 100px 10% 0px;
	margin-bottom: 0px;
}

h1 {
	width: 45vw;
    font-family: 'Yesteryear', cursive;
    font-size: 64px;
}

#works {
	padding: 50px 10%;
	margin-top: 60px;
}

h2 {
	font-size: 42px;
	margin-bottom: 40px;
}

ul li {
	margin: 20px;
}

a {
	display: inline-block;
	margin-bottom: 8px;
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	font-variant: italic;
}

a:hover {
	color: #b80414;
}